<ion-content class="ion-padding">
  <div class="upsection">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="dark" expand="block">
            MANAGE RIDE REQUESTS
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="o_section">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            color="primary"
            color="light"
            fill="clear"
            expand="block"
            (click)="GotoLogin()"
          >
            LOGIN
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            color="primary"
            color="light"
            fill="clear"
            expand="block"
            (click)="GotoSignup()"
          >
            REGISTER
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
